<nav class='panel'>
  <h1 class='panel-heading is-title'>Editando Experiência</h1>

  <section class='section'>
    <div class='container'>
      <%= render 'form', professional_carreer: @professional_carreer %>
    </div>
  </section>
</nav>
