<nav class='panel'>
  <h1 class='panel-heading is-title'>Novo Projeto</h1>

  <section class='section'>
    <div class='container'>
      <%= render 'form', project: @project %>
    </div>
  </section>
</nav>
