
<main role='main'>
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <%= image_tag("https://bulma.io/images/placeholders/1280x960.png", class:"image") %>

  <section class="section has-background-dark">

    <div class='container block'>

      <div class='text-center block'>
        <h4 class='title is-4'>Sobre mim</h4>
      </div>

      <div class='content is-medium has-text-justified'>
        <p>Meu nome é <strong>Angeliano</strong> um engenheiro de software de Fortaleza/CE, apaixonado por produtos digitais e ferramentas que são úteis no dia a dia. Sempre estou inventando algum projeto ou ideia e busco sempre aperfeiçoar-las conforme evoluo minhas técnicas.</p>

        <p>Trabalho desde a concepção da ideia, implementação, teste e aprimoramento conforme tenho mais informações sobre o uso das ferramentas.</p>
      </div>
    </div><br>

    <div class='container'>
      <div class='text-center block'>
        <h4 class='title is-4'>Experiência Profissional</h4>
      </div>

      <div class='columns is-multiline'>
      <% 6.times do %>
        <div class='column is-half block'>
          <div class='box'>
            <h5 class='title is-5'>Periodo</h5>
            <p class='title is-6'>Função</p>
            <p class='has-text-justified'>Lorem ipsum dolor sit amet, consectetur adip, Lorem ipsum dolor sit amet, consectetur adipLorem ipsum dolor sit amet, consectetur adipLorem ipsum dolor sit amet, consectetur adip</p>
          </div>
        </div>
        <% end %>
      </div>
    </div><br>

    <div class='container'>
      <div class='text-center block'>
        <h3 class='title is-3'>Minhas Habilidades</h3>
      </div>

      <% 5.times do %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
          </figure>

          <div class="media-content">
            <div class="content">
              <p class='has-text-justified'>
                <strong>Nome da tecnologia</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </p>
            </div>

          </div>
        </article>
      <% end %>
      
    </div>
  </section>

</main>