<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href='/'>
        Home
      </a>
      <a class="navbar-item" href="/site/about_me">
        Sobre Mim
      </a>
      <a class="navbar-item" href="/site/projects">
        Projetos
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'Backstage', backoffice_projects_path, class:"button is-primary" %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, data: { confirm: "Tem certeza que quer sair ?" }, class:"button is-danger" %>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, class:"button is-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>