<nav class="navbar is-dark is-mobile" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <a class="navbar-item has-text-success-dark" href='/'>
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-desktop"></i>
        </span>
        <span>Angeliano Sousa</span>
      </span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start is-justify-content-start">
      <a class="navbar-item" href='/'>
        Home
      </a>
      <a class="navbar-item" href="/site/about_me">
        Sobre Mim
      </a>
      <a class="navbar-item" href="/site/projects">
        Projetos
      </a>
    </div>

    <div class="navbar-end is-justify-content-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'Backstage', backoffice_projects_path, class:"button is-primary" %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, data: { confirm: "Tem certeza que quer sair ?" }, class:"button is-danger" %>
          <% else %>
            <%= link_to "Entrar", new_user_session_path, class:"button is-link is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>